{{> header}}
<div class="container">
	<div class="row">
			<div class="col-md-7">
				<embed src="{{movie.flash}}" allowFullScreen="true" quality="high" width="720" height="600" align="middle" type="application/x-shockwave-flash"></embed>
			</div>
			<div class="col-md-5">
				<dl class="dl-horizontal">
					<dt>电影名字:</dt>
					<dd>{{movie.title}}</dd>
					<dt>导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演:</dt>
					<dd>{{movie.doctor}}</dd>
					<dt>国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家:</dt>
					<dd>{{movie.country}}</dd>
					<dt>语&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;言:</dt>
					<dd>{{movie.language}}</dd>
					<dt>上映年份:</dt>
					<dd>{{movie.year}}</dd>
					<dt>简&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介:</dt>
					<dd>{{movie.summary}}</dd>
				</dl>
			</div>
	</div>
</div>
